* {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 4rem;
  font-weight: bold;
  background-color: black;
  color: white;
  width: auto;
  text-align: center;
  padding-top: 1rem;
}

.memes {
  flex-wrap: wrap;
  width: 20rem;
  height: 20rem;
  padding: 5rem;
  display: inline-block;
  max-width: 100%;
  margin: auto;
}
.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(138, 2, 2, 0.306);
}
.carousel-inner {
  width: 50%;
}
.carousel-item img {
  height: 300px;
}
